body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#calcContainer {
    display: grid;
    height: 300px;
    width: 320px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    border: solid;
}

#display {
    grid-column: 2 / 5;
    background-color: lightblue;
}

#one {
    grid-area: 2 / 2 / 2 / 2;
}

#two {
    grid-area: 2 / 3 / 2 / 3;
}

#three {
    grid-area: 2 / 4 / 2 / 4;
}

#four {
    grid-area: 3 / 2 / 3 / 2;
}

#five {
    grid-area: 3 / 3 / 3 / 3;
}

#six {
    grid-area: 3 / 4 / 3 / 4;
}

#seven {
    grid-area: 4 / 2 / 4 / 2;
}

#eight {
    grid-area: 4 / 3 / 4 / 3;
}

#nine {
    grid-area: 4 / 4 / 4 / 4;
}

#allCancel {
    grid-area: 5 / 2 / 5 / 2;
}

#zero {
    grid-area: 5 / 3 / 5 / 3;
}

#delete {
    grid-area: 5 / 4 / 5 / 4;
}

#equals {
    grid-area: 1 / 1 / 1 / 1;
}

#add {
    grid-area: 2 / 1 / 2 / 1;
}

#subtract {
    grid-area: 3 / 1 / 3 / 1;
}

#multiply {
    grid-area: 4 / 1 / 4 / 1;
}

#divide {
    grid-area: 5 / 1 / 5 / 1;
}